$font-stack: 'OpenSans', sans-serif;

// breakpoints
$xs: 480;
$sm: 544;
$md: 768;
$lg: 992;
$xl: 1200;
$xxl: 1440;
$xxxl: 1740;

// colors
$black: #000;
$white: #fff;
$blue: #00a5ea;
$dark-blue: #002041;
$light-blue: #c5e4ff;
$light-blue-2: #2ecaf0;
$purple: #5b3bff;
$grey: #737373;
$grey-2: #585858;
$light-grey: #f9f9f9;